<nav class="bottom-navbar">
    <div class="container">
        <ul class="nav page-navigation">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_home') }}">
                    <i class="mdi mdi-shield-check menu-icon"></i>
                    <span class="menu-title">Accueil</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_service',{id: 6}) }}" class="nav-link">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">Direction</span>
                    <i class="menu-arrow"></i></a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_service_direction_facture_consulter',{type:'facture'})}}">
                                Facture
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_service_direction_facture_consulter',{type:'devis'})}}">
                                Devis
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_service_direction_facture_consulter',{type:'commande'})}}">
                                Commande
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_service_marketing_consulter') }}" class="nav-link">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">Marketing</span>
                    <i class="menu-arrow"></i></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_service',{id: 4}) }}" class="nav-link">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">Commercial</span>
                    <i class="menu-arrow"></i></a>
                <div class="submenu">
                    <ul class="submenu-item">
                        {% if app.session.get('dossier')[3]['dossier_1'] is defined  %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_service',{id:app.session.get('dossier')[3]['id']}) }}">{{ app.session.get('dossier')[3]['dossier_1'] }}</a></li>
                        {% endif %}
                        {% if app.session.get('dossier')[3]['dossier_2'] is defined %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_service',{id:app.session.get('dossier')[3]['id']}) }}">{{ app.session.get('dossier')[3]['dossier_2'] }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_service_commercial_consulter',{type:'sodibo',support: '12m²'})}}" class="nav-link">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">Réseau</span>
                    <i class="menu-arrow"></i></a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_service_commercial_consulter',{type:'sodibo',support: '12m²'})}}">Sodibo</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_service_commercial_consulter',{type:'client',support: '12m²'})}}">Autre</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_service_comptabilite_consulter') }}" class="nav-link">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">Comptabilité</span>
                    <i class="menu-arrow"></i></a>
                <div class="submenu">
                    <ul class="submenu-item">
                        {% if app.session.get('dossier')[6]['dossier_1'] is defined %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_service',{id:app.session.get('dossier')[6]['id']}) }}">{{ app.session.get('dossier')[6]['dossier_1'] }}</a></li>
                        {% endif %}
                        {% if app.session.get('dossier')[6]['dossier_2'] is defined  %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_service',{id:app.session.get('dossier')[6]['id']}) }}">{{ app.session.get('dossier')[6]['dossier_2'] }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_service',{id: 5}) }}" class="nav-link">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">Pao</span>
                    <i class="menu-arrow"></i></a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_service_pao_creation',{type:'création'}) }}">Créas</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_service_pao_creation',{type:'adaptation'}) }}">Adaptation</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_service_pao_creation',{type:'branding'}) }}">Branding</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_service',{id: 1}) }}" class="nav-link">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">ITEC</span>
                    <i class="menu-arrow"></i></a>
                <div class="submenu">
                    <ul class="submenu-item">
                        {% if app.session.get('dossier')[0]['dossier_1'] is defined  %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_service',{id:app.session.get('dossier')[0]['id']}) }}">{{ app.session.get('dossier')[0]['dossier_1'] }}</a></li>
                        {% endif %}
                        {% if app.session.get('dossier')[0]['dossier_2'] is defined %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_service',{id:app.session.get('dossier')[0]['id']}) }}">{{ app.session.get('dossier')[0]['dossier_2'] }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>