{% extends 'base.html.twig' %}

{% block title %} PromoPub-Integral |    {{ service.nomService }} | {{ dossier.nom }}
{% endblock %}

{% block link %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <div style="margin-left: 40%;">
       <button type="button" class="btn btn-primary btn-rounded btn-fw mb-1">{{ service.nomService }} | {{ dossier.nom }}</button>
    </div>
    <br>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="mt-4">
                        <div class="accordion" id="accordion" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="heading-1">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                      {{ dossier.nom }}
                                    </a>
                                </h6>
                                </div>
                                <div id="collapse-1" class="collapse show" role="tabpanel" aria-labelledby="heading-1" data-parent="#accordion">
                                <div class="card-body">
                                    <h4 class="card-title">Statut
                                        {% if dossier.statut == '0' %}
                                            <button style="margin-left: 27%;" class="btn btn-warning">En cours</button>
                                        {% elseif dossier.statut == '1' %}
                                            <button style="margin-left: 27%;" class="btn btn-success">Terminé</button>
                                        {% endif %}
                                    </h4>
                                    <div>
                                        <h4>Description</h4>
                                        <p>{{ dossier.description }}</p>
                                    </div>
                                    <div>
                                        <h4>Fichiers Joints</h4>
                                        {% for fl in file %}
                                          <p><a href="{{ path('app_service_comptabilite_consulter_fichier',{fichier:fl.nom})}}" target="_blank">{{ fl.nom }}</a></p>
                                        {% endfor %}
                                    </div>
                                    {% if dossier.user.id == app.user.id %}
                                        <br>
                                        <input type="hidden" id="dossierId" value="{{ dossier.id }}">
                                        <button style="margin-left: 32.3%;"  id="cloturer" class="btn btn-primary">Clôturer</button>
                                    {% endif %}
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="heading-3">
                                    <h6 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                            Ajouter un fichier
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapse-3" class="collapse" role="tabpanel" aria-labelledby="heading-3" data-parent="#accordion">
                                    <div class="card-body">
                                        {{ form_start(form) }}
                                        {{ form_widget(form) }}
                                        <button type="submit" class="btn btn-outline-primary">Ajouter</button>
                                        <button type="reset" class="btn btn-outline-danger">Annuler</button>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                            {# <div class="card">
                                <div class="card-header" role="tab" id="heading-4">
                                    <h6 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                            Ajouter un commentaire
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapse-3" class="collapse" role="tabpanel" aria-labelledby="heading-4" data-parent="#accordion">
                                    <div class="card-body"> #}
                                        {# {{ form_start(form) }}
                                        {{ form_row(form.content) }}
                                        <button type="submit" class="btn btn-outline-primary">Ajouter</button>
                                        <button type="reset" class="btn btn-outline-danger">Annuler</button>
                                        {{ form_end(form) }} #}
                                    {# </div>
                                </div>
                            </div> #}
                        </div>
                    </div>
                </div>
            </div>
        </div> 
 </div>
    {% if comment is defined and comment is not null %}
    {% set user = app.user %}
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Commentaires</h4>
                    <div class="mt-5">
                        <div class="timeline">
                          {% for cm in comment %}
                               
                              {% if cm.serviceId == 6 %}
                                  <div class="timeline-wrapper timeline-wrapper-warning">
                                      <div class="timeline-badge"></div>
                                      <div class="timeline-panel">
                                          <div class="timeline-heading">
                                              <h6 class="timeline-title">{{ cm.prenom }} {{ cm.nom }}</h6>
                                          </div>
                                          <div class="timeline-body">
                                              <p>{{ cm.content }}</p>
                                          </div>
                                          <div class="timeline-footer d-flex align-items-center flex-wrap">
                                             {% if user.id == cm.userId %}
                                                <span>
                                                   <a  data-toggle="modal" data-target="#comment{{ cm.contentId }}" data-whatever="@mdo"><i class="fa fa-edit text-muted mr-1"></i></a>
                                                   <a  href="{{ path('app_comment_supprimer',{comment:cm.contentId}) }}"><i class="fa fa-trash-o text-muted "></i></a>
                                                </span>
                                             {% endif %}
                                             <span class="ml-md-auto font-weight-bold">{{ cm.commentDate | date("d/m/Y") }}</span>
                                          </div>
                                      </div>
                                  </div>
                                {% endif %}
                                {% if cm.serviceId == 1 or cm.serviceId ==3 %}
                                    <div class="timeline-wrapper timeline-inverted timeline-wrapper-danger">
                                        <div class="timeline-badge"></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h6 class="timeline-title">{{ cm.prenom }} {{ cm.nom }}</h6>
                                            </div>
                                            <div class="timeline-body">
                                                <p>{{ cm.content }}</p>
                                            </div>
                                            <div class="timeline-footer d-flex align-items-center flex-wrap">
                                               {% if user.id == cm.userId %}
                                                    <span>
                                                        <a  data-toggle="modal" data-target="#comment{{ cm.contentId }}" data-whatever="@mdo"><i class="fa fa-edit text-muted mr-1"></i></a>
                                                        <a  href="{{ path('app_comment_supprimer',{comment:cm.contentId}) }}"><i class="fa fa-trash-o text-muted "></i></a>
                                                    </span>
                                                {% endif %}
                                                <span class="ml-md-auto font-weight-bold">{{ cm.commentDate | date("d/m/Y") }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if cm.serviceId == 2 %}
                                  <div class="timeline-wrapper timeline-wrapper-info">
                                      <div class="timeline-badge"></div>
                                      <div class="timeline-panel">
                                          <div class="timeline-heading">
                                              <h6 class="timeline-title">{{ cm.prenom }} {{ cm.nom }}</h6>
                                          </div>
                                          <div class="timeline-body">
                                              <p>{{ cm.content }}</p>
                                          </div>
                                          <div class="timeline-footer d-flex align-items-center flex-wrap">
                                          {% if user.id == cm.userId %}
                                            <span>
                                                <a  data-toggle="modal" data-target="#comment{{ cm.contentId }}" data-whatever="@mdo"><i class="fa fa-edit text-muted mr-1"></i></a>
                                                <a  href="{{ path('app_comment_supprimer',{comment:cm.contentId}) }}"><i class="fa fa-trash-o text-muted "></i></a>
                                            </span>
                                          {% endif %}
                                            <span class="ml-md-auto font-weight-bold">{{ cm.commentDate | date("d/m/Y") }}</span>
                                          </div>
                                      </div>
                                  </div>
                                {% endif %}
                                {% if cm.serviceId == 4 %}
                                  <div class="timeline-wrapper timeline-inverted timeline-wrapper-primary">
                                      <div class="timeline-badge"></div>
                                      <div class="timeline-panel">
                                          <div class="timeline-heading">
                                              <h6 class="timeline-title">{{ cm.prenom }} {{ cm.nom }}</h6>
                                          </div>
                                          <div class="timeline-body">
                                              <p>{{ cm.content }}</p>
                                          </div>
                                        <div class="timeline-footer d-flex align-items-center flex-wrap">
                                        {% if user.id == cm.userId %}
                                            <span>
                                                <a  data-toggle="modal" data-target="#comment{{ cm.contentId }}" data-whatever="@mdo"><i class="fa fa-edit text-muted mr-1"></i></a>
                                                <a  href="{{ path('app_comment_supprimer',{comment:cm.contentId}) }}"><i class="fa fa-trash-o text-muted "></i></a>
                                            </span>
                                        {% endif %}
                                        <span class="ml-md-auto font-weight-bold">{{ cm.commentDate | date("d/m/Y") }}</span>
                                    </div>
                                      </div>
                                  </div>
                              {% endif %}
                              {% if cm.serviceId == 5 %}
                                  <div class="timeline-wrapper timeline-wrapper-success">
                                      <div class="timeline-badge"></div>
                                      <div class="timeline-panel">
                                          <div class="timeline-heading">
                                              <h6 class="timeline-title">{{ cm.prenom }} {{ cm.nom }}</h6>
                                          </div>
                                          <div class="timeline-body">
                                              <p>{{ cm.content }}</p>
                                          </div>
                                          <div class="timeline-footer d-flex align-items-center flex-wrap">
                                           {% if user.id == cm.userId %}
                                                <span>
                                                    <a  data-toggle="modal" data-target="#comment{{ cm.contentId }}" data-whatever="@mdo"><i class="fa fa-edit text-muted mr-1"></i></a>
                                                    <a  href="{{ path('app_comment_supprimer',{comment:cm.contentId}) }}"><i class="fa fa-trash-o text-muted "></i></a>
                                                </span>
                                           {% endif %}
                                            <span class="ml-md-auto font-weight-bold">{{ cm.commentDate | date("d/m/Y") }}</span>
                                        </div>
                                      </div>
                                  </div>
                              {% endif %}
                              {% if cm.serviceId == 7 %}
                                  <div class="timeline-wrapper timeline-inverted timeline-wrapper-dark">
                                      <div class="timeline-badge"></div>
                                      <div class="timeline-panel">
                                          <div class="timeline-heading">
                                              <h6 class="timeline-title">{{ cm.prenom }} {{ cm.nom }}</h6>
                                          </div>
                                          <div class="timeline-body">
                                              <p>{{ cm.content }}</p>
                                          </div>
                                          <div class="timeline-footer d-flex align-items-center flex-wrap">
                                           {% if user.id == cm.userId %}
                                                <span>
                                                    <a  data-toggle="modal" data-target="#comment{{ cm.contentId }}" data-whatever="@mdo"><i class="fa fa-edit text-muted mr-1"></i></a>
                                                    <a  href="{{ path('app_comment_supprimer',{comment:cm.contentId}) }}"><i class="fa fa-trash-o text-muted "></i></a>
                                                </span>
                                            {% endif %}
                                            <span class="ml-md-auto font-weight-bold">{{ cm.commentDate | date("d/m/Y") }}</span>
                                        </div>
                                      </div>
                                  </div>
                              {% endif %}
                                {# Modal comment #}
                                    <div>
                                        <div class="modal fade" id="comment{{ cm.contentId }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLabel">Modifier son commentaire</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" name="formComment">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Commentaire:</label>
                                                    <input type="textarea" class="form-control" id="commentMessage" value="{{ cm.content }}">
                                                    <input type="hidden" id="commentId" value="{{ cm.contentId }}">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success" id="btn_modifier_comment">Modifier</button>
                                                    <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                            
                                {# End modal comment #}
                            {% endfor %}
                        
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    {% endif %}
       
      {# $('#btn_modifier_comment').on('click', function () {
                var message = JSON.parse(JSON.stringify( $('#commentMessage').val()));
                var id = JSON.parse(JSON.stringify(parseInt( $('#commentId').val())));
               $.ajax(
                    {
                        type: "POST",
                        url: "{{ path('app_service_dossier',{service:service,dossier:dossier.id}) }}",
                        data:
                            {   message : message,
                                id : id,
                            },
                        success:function (html) {
                            if(html)
                                window.location.href= "{{ path('app_service_dossier',{service:service,dossier:dossier.id}) }}"; 
                            else
                               alert("Commentaire non modifié");         
                        },
                        fail: function (html) {
                            alert("Commentaire non modifié");
                        }
                    }
                );
            });
        }); #}
{% endblock %}

{% block script %}
     <script>
        $(document).ready(function () {
            $('#cloturer').on('click', function () {
                var dossier = JSON.parse(JSON.stringify(parseInt( $('#dossierId').val())));
                $.ajax(
                    {
                        type: "POST",
                        url: "{{ path('app_service_comptabilite_consulter_detail',{comptabilite:dossier.id}) }}",
                        data:
                            {   
                                dossier: dossier,
                            },
                        success:function (html) {
                           console.log('Statut modifié');
                        },
                        fail: function (html) {
                            alert("Statut non modifié");
                        }
                    }
                );
            });
    </script>
{% endblock %}