{% extends 'base.html.twig' %}

{% block link %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
{% endblock %}
{% block title %} {{ service.nomService }} | Ajouter{% endblock %}

{% block content %}

  {% include "comptabilite/menu.html.twig" %}
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ dos }}</h4>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary mr-2">{{ dos }}</button>
                <button type="reset"  class="btn btn-light">Annuler</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
 </div>
{% endblock %}